dataset/
dermoscan/
githubprojects/
images test/
models/
New Plant Diseases Dataset(Augmented)/
otherfiles/
plantvillage dataset/
sms/
validation/
webapp/
website/model/xception_plant_disease_detection(25-02-2024).h5
website_new/
webtemp/
frontend.zip
New Plant Diseases Dataset.zip
website_new.zip
website.zip