dataset/
dermoscan/
githubprojects/
imagestest/
models/
New Plant Diseases Dataset(Augmented)/
otherfiles/
plantvillagedataset/
sms/
validation/
webapp/
website/model/xception_plant_disease_detection(25-02-2024).h5
website_new/
webtemp/
frontend.zip
NewPlantDiseasesDataset.zip
website_new.zip
website.zip