body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8f4;
    background-image: url("../images/bg4.jpeg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

h1 {
    color: #224f16;
    margin-bottom: 40px;
}


.remedy {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #839b62;
    color: white;
    overflow: hidden;

}

.remedy h2 {
    margin-top: 0;
}

.remedy p {
    margin-top: 5px;
}

/* Responsive Styling */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }
}