<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroVision</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hometemp.css') }}">

</head>

<body>

    <!-- <div class="navbar">
        <h2>AgroVision</h2>
    </div> -->

    <div class="header-container">
        <div class="header">
            <h1><b><span>Agro</span>Vision</b></h1>
            <h2><b>Detect Plant Leaf Disease with Ease</b></h2>
            <p>Technology for healthier crops</p>
            <a href="{{ url_for('upload_file') }}" class="button">Get Started Now</a>
        </div>
    </div>

</body>

</html>