<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detection Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resulttemp.css') }}">

</head>

<body>
    <div class="container">
        <img id="uploaded-image" src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Uploaded Image"
            class="uploaded-image">
        <div class="info"> <!-- Adjust margin here -->
            <h1>Plant Health</h1>
            <p>Predicted Plant Name: {{ predicted_plant_name }}</p>
            <p>Predicted Disease Name: {{ predicted_disease_name }}</p>
            <!--             <p>Predicted Class Name: {{ predicted_class_name }}</p>
        
            {% if confidence %}
                <p>Confidence: {{ confidence }}</p>
            {% endif %} -->
            {% if predicted_disease_name != "Healthy" %}
            <form
                action="{{ url_for('show_remedies', disease=predicted_class_name , plantname=predicted_plant_name , diseasename=predicted_disease_name) }}"
                method="get">
                <button type="submit" class="know-more-btn">View Remedies</button>
            </form>
            {% endif %}
        </div>
    </div>
</body>

</html>